body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
   flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem ;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.4rem;
    margin: 0.5rem;
}



.f-info {
   text-align: center;
   height: 8rem;
   background-color: #ebebeb;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: space-evenly;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem ;
    
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: black;
}

.add-btn{
    background-color:#fe424d !important;
    border: none !important;
}

.edit-btn{
    background-color:#fe424d !important;
    border: none !important;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.show-img{
    height: 30vh;
}

.show-img {
    height: 18rem;
    object-fit: cover;
}


.btns {
    display: flex;
    justify-content: space-between; /* left & right */
    align-items: center;
    gap: 1rem; /* thoda gap dono ke beech */
}

.btns .btn {
    flex: 1;                  /* dono buttons equal width le */
    margin: 0 ;         /* thoda gap left-right */
    height: 3rem;             /* equal height */
    font-size: 1rem;
}
.btns .edit-btn {
    margin-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.8rem;
}
.btns form {
    flex: 1;                  /* form wala button bhi equal space le */
    margin: 0 0.5rem;
}
.btns form button {
    width: 100%;              /* delete button full width */
    height: 3rem;
    font-size: 1rem;
    flex: 1;             /* equal width dono ka */
    height: 3rem;        /* equal height */
    font-size: 1rem;     /* text size same */
}

.reviewDel {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem; /* mb-2 = 0.5rem */
}

#map {
     height: 400px;         /* Visible height */
     width: 100%;           /* Full width */
     border-radius: 10px;   /* Optional rounded corners */             
     margin-bottom: 20px;   /* Spacing below map */
}
